---
import Layout from "../layouts/Layout.astro";
import CardContainer from "../components/CardContainer.jsx";
---

<Layout title='Interactive card details form'>
  <main class='mx-auto max-w-[375px] lg:max-w-[1000px]'>
    <CardContainer client:load />
  </main>
</Layout>
